 body {
  padding-top: 50px;
}

div.inventoryname {
    background-color: #008080;
    color: white;
    padding: 10px;
    height: 120px;
}

div.price {
    font-size: 15px;
    font-size: 20px;
    height: 80px;
    background-color: white;
}

div.price span.price{
    font-weight: bold;
	float: left;
    padding-left: 10px;
}

div.price span.quantity{
    font-size: 12px; 
    font-weight: normal; 
    float: left; 
    padding: 0, 0, 0, 0px;
    padding-left: 10px;
    padding-top: 10px;
    width: 50px;
}


div.price .submit{
	color: white;
	font-size: 12px;
	border-radius: 3px;
}

.quantity{
	width: 70px;
    height: 30px;
    font-size: 12px;
}

div.break{
    clear: both;
    padding-bottom: 10px;
}

div.card{
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    text-align: center;
    height: 200px;
    margin-top: 10px;
    font-size: 40px;
    margin-right: 10px;
    width: 200px;
}