{% extends "base.html" %}

{% block pagetitle %} Index {% endblock %}

{% block content %}
<div id='inventory'></div>
<script>
	var Product;
	var Inventory;
	var Cart;
</script>
<script type="text/babel" src="{{url_for('static', filename='js/jsx/product.jsx')}}"></script>
<script type="text/babel" src="{{url_for('static', filename='js/jsx/cart.jsx')}}"></script>
<script type="text/babel" src="{{url_for('static', filename='js/jsx/inventory.jsx')}}"></script>
<script type="text/javascript">
	$(document).ready(function () {
	  $(".nav li").removeClass("active");
	  $('#Inventory').addClass('active');
});
</script>
{% endblock %}